.assort {
    font-size: 20px;
    padding: 0;
    color: #49668D;
    text-align: center;
}

.float {
    float: right;
}

.clear {
    clear: both;
}

.intro {
    text-align: justify;
    overflow: auto;
}

.maxwidth {
    max-width:100%;
     height:auto;
     /* height="405" width="600"  */
}

.bigimg {
    border: 1px solid none;
    outline: 7px dashed rgb(255, 201, 52);
}
.bigimg:last-child {
    border-bottom: none;
}

header,
footer {
    background-color: rgb(29, 29, 29);
    clear: left;
    text-align: center;
    color: white;
    padding: 1em;
}

footer a {
    text-decoration: none;
    color: white;
}
.image2 {
    clear: left;
    text-align: center;
    color: white;
    padding: 1em;
}

